<div class="background">
	<div class="row form-group">
		<h2>sign in</h2>
		<div class="col-sm-6 col-sm-offset-3 auth_format">
			<form method="post" action="/auth/login">
				<div class="form-group">
					<label class="signin-form">Email: (test login: sample@testing.com) </label>
					<input type="text" name="email" class="form-control auth-input" placeholder="Your email">
				</div>
				<div class="form-group">
					<label class="signin-form">Password: (test password: sample)</label>
					<input type="password" name="password" class="form-control auth-input" placeholder="Your password">
				</div>
				<input type="submit" value="sign in" class="auth_submit">
			</form>
		</div>
	</div>
</div>
<div class="body-section">
<h4 class="black_text">need an account? sign up<a class="signup-link" href="/auth/signup"> here</a></h4>
</div>


