<h2>SIGNUP</h2>
<form method="post" action="/auth/signup">
	<div class="form-group">
		<label>First Name:</label>
		<input type="text" name="firstname" class="form-control" placeholder="Your name">
	</div>
	<div class="form-group">
		<label>Last Name:</label>
		<input type="text" name="lastname" class="form-control" placeholder="Your surname">
	</div>
	<div class="form-group">
		<label>Username:</label>
		<input type="text" name="username" class="form-control" placeholder="create a username">
	</div>
	<div class="form-group">
		<label>Email:</label>
		<input type="text" name="email" class="form-control" placeholder="email address">
	</div>
	<div class="form-group">
		<label>Password</label>
		<input type="password" name="password" class="form-control" placeholder="Your password">
	</div>
	<div class="form-group">
		<label>Password Verification</label>
		<input type="password" name="passwordVerify" class="form-control" placeholder="Let's chec your password">
	</div>
	<input type="submit" value="Sign Up" class="btn btn-success">
</form>