<footer class="clearfix" id="footer">
	<p class="copyright">Copyright 2018</p>
	<p class="message">Created by <a href="https://cgroark.github.io/groark_portfolio/" target="blank"><span class="name">Colin Groark</span></a><p>
</footer>