<nav class="navbar navbar-default">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="sr-only">Toggle Navigation</span>
				<span class="icon-bar" href="/auth/login" value="Login"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/"><img class="logo" alt="icon" src="/images/mountain.png"></a>
		</div>

        <div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav navbar-right">
				<% if(!currentUser) {%>
				<li>
					<a class="navbar_text" href="/auth/login">Login</a>
				</li>
				<li> 
					<a class="navbar_text" href="/auth/signup">Sign Up</a>
				</li>
				<% } else { %>
				<li>
					<a class="navbar_text" href="/favs">Your Saved Parks</a>
				</li>
				<li>
					<a class="navbar_text" href="/auth/logout">Logout</a>
				</li>
				<% } %>
			</ul>
		</div>
	</div>
</nav>

