<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Get Out There</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Poiret+One|Raleway" rel="stylesheet">
</head>
<body>
<div class="background">

	<% include partials/navbar %>
	<div class="container">
		<% include partials/alerts%>

		<%- body %>
	</div>
</div>

<footer class="clearfix">
	<p class="copyright">Copyright 2018</p>
	<p class="message">Created by <span class="name">Colin Groark</span><p>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 <script src="/routing.js"></script>

</body>
</html>