
/*navbar
*/

#logo {
	height: 55px;
	position: relative;
	top: -18px;
	width: auto;
}

#navbar_text{
	color: rgb(50,50,50);
	font-family: 'Raleway', sans-serif;

}

.navbar{
	background-color: rgba(50,50,50,.3);
}

/*headers
*/

h1{
	font-family: 'Poiret One', cursive;
	font-size: 86px;
	font-weight: 800;
	text-transform: capitalize;
	text-align: center;
}
h2{
	font-family: 'Poiret One', cursive;
	font-size: 54px;
	font-weight: 800;
	text-transform: capitalize;
	text-align: center;
}
h3{
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
	font-weight: 800;
	color: rgb(50,50,50);
	text-transform: capitalize;
	text-align: center;
}
h4{
	font-family: 'Raleway', sans-serif;
	font-size: 22px;
	font-weight: 800;
	color: rgb(200,200,200);
	text-align: center;
}

h5{
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 800;
	color: rgb(200,200,200);
	text-align: center;
	margin-top: -8px;
}
p{
	color:black;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
}

/*homepage
*/
#search_button{
	width: 120px;
}
#state_search{
	width: 250px;
	height: 35px;
}
.park_each{
	background-color: rgba(50,50,50,.4);
	padding: 30px 18px;
	margin-bottom: 10px;
 }
 .park_each:hover{
	background-color: rgba(50,50,50,.7);
 }

/*parksAllpage
*/
.park_display{
	height: 800px;
	overflow: scroll;
}

.allparks_header{
	font-family: 'Raleway', sans-serif;
	font-size: 170px;
	font-weight: 800;
	color: rgb(50,50,50);
}

.header_allparks{
	font-family: 'Raleway', sans-serif;
	font-size: 28px;
	font-weight: 800;
	color: rgb(195,195,195);
}
#park_text{
	font-family: 'Raleway', sans-serif;
	color: rgb(10,10,10);
	font-size: 17px;
}
#park_url{
	font-family: 'Raleway', sans-serif;
	color: rgb(247, 147, 42);
	font-size: 14px;
}
#save_button{
	font-family: 'Raleway', sans-serif;
	color: rgb(247, 147, 42);
	margin-bottom: 15px;
	font-size: 22px;
	background-color: inherit;
	border: none;
	margin: auto;
	display: block;
}
.auth_submit{
	font-family: 'Raleway', sans-serif;
	color: rgb(247, 147, 42);
	margin-bottom: 15px;
	font-size: 18px;
	background-color: inherit;
	border: none;
	margin: auto;
	display: block;
}
.auth_format{
	font-family: 'Raleway', sans-serif;
	background-color: rgba(50,50,50,.4);
	padding: 15px 15px;
	color: rgb(195,195,195);	
}
/*favorites
*/

#weather_button{
	font-family: 'Raleway', sans-serif;
	color: rgb(195,195,195);	
	margin-bottom: 15px;
	font-size: 26px;
	background-color: inherit;
	border: none;
}
#delete_button{
	color: rgb(247, 147, 42);
	margin-bottom: 15px;
	font-size: 18px;
	background-color: transparent;
	border: none;
}
/*weather
*/

.moreinfo:hover{
	background-color: rgba(150,150,150,.45);

}
.weather_row{
	background-color: rgba(150,150,150,.15);
}
.weather_row:hover{
	background-color: rgba(150,150,150,.45);
}
.weather_cell{
	text-align: center;
}
.weather_image{
	height: 45px;
	margin: auto;
	display: block;
}
#state-map{
	height: 300px;
}
/*
.weather_data{
	height: 350px;
	overflow: scroll;

}*/


/*layout
*/
.background{
	height: 1300px;
	background-image: url("/images/background4.jpg");
	background-size: cover;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}

.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}

footer {
	text-transform: uppercase;
	padding: 5px 20px;
	background-color: rgba(30,30,30,.4);
	font-size: 14px;
	letter-spacing: .09em;
	font-weight: 900;
}
.copyright {
	font-family: 'Poiret One', cursive;
	float: left;
}

.message {
	font-family: 'Poiret One', cursive;
	float: right;
}

.name {
	color: #F15B31;
	font-weight: 1000;
}