
/*navbar
*/

#logo {
	height: 60px;
	width: auto;
}

.navbar{
	background-color: rgba(50,50,50,.3);
}

/*headers
*/

h1{
	font-family: 'Poiret One', cursive;
	font-size: 86px;
	font-weight: 800;
	text-transform: capitalize;
	text-align: center;
}

h2{
	font-family: 'Poiret One', cursive;
	font-size: 54px;
	font-weight: 800;
	text-transform: capitalize;
	text-align: center;
}

h3{
	font-family: 'Raleway', sans-serif;
	font-size: 28px;
	font-weight: 800;
	color: rgb(50,50,50);
	text-align: center;
}

h4{
	font-family: 'Raleway', sans-serif;
	font-size: 22px;
	font-weight: 800;
	color: rgb(200,200,200);
	text-align: center;
}

p{
	color:black;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
}

/*homepage
*/
#search_button{
	width: 120px;
}
#state_search{
	width: 250px;
	height: 35px;
}

.park_each{
	background-color: rgba(50,50,50,.4);
	padding: 30px 18px;
	margin-bottom: 10px;
 }

 .park_each:hover{
	background-color: rgba(50,50,50,.7);
 }

/*parksAllpage
*/

.park_display{
	height: 600px;
	overflow: scroll;
}

.allparks_header{
	font-family: 'Raleway', sans-serif;
	font-size: 170px;
	font-weight: 800;
	color: rgb(50,50,50);

}

.header_allparks{
	font-family: 'Raleway', sans-serif;
	font-size: 28px;
	font-weight: 800;
	color: rgb(195,195,195);
}

#park_text{
	font-family: 'Raleway', sans-serif;
	color: rgb(10,10,10);
	font-size: 17px;
}

#park_url{
	font-family: 'Raleway', sans-serif;
	color: rgb(247, 147, 42);
	font-size: 14px;
	margin-left: 7px;
	text-decoration: underline;
}

#save_button{
	color: rgb(247, 147, 42);
	margin-bottom: 15px;
	font-size: 18px;
	background-color: inherit;
	border: none;
}

/*favorites
*/

#weather_button{
	color: rgb(195,195,195);	
	margin-bottom: 15px;
	font-size: 26px;
	background-color: inherit;
	border: none;
}

#delete_button{
	color: rgb(247, 147, 42);
	margin-bottom: 15px;
	font-size: 18px;
	background-color: transparent;
	border: none;
}

/*weather
*/

.moreinfo{
}

.weather_row{
	background-color: rgba(150,150,150,.15);
}
.weather_row:hover{
	background-color: rgba(150,150,150,.45);
}
.weather_cell{
	text-align: center;
}


.weather_image{
	height: 45px;
	margin: auto;
	display: block;
}

#state-map{
	height: 300px;
}
/*
.weather_data{
	height: 350px;
	overflow: scroll;

}*/


/*layout
*/
.background{
	height: 1600px;
	background-image: url("/images/background4.jpg");
	background-size: cover;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}

footer {
	text-transform: uppercase;
	background: rgb(0,0,0);
	padding-top: 5px;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
}
.copyright {
	font-family: "Raleway", sans-serif;
	float: left;
}

.message {
	font-family: "Raleway", sans-serif;
	float: right;
}
