
/*navbar
*/
#logo {
	height: 55px;
	position: relative;
	top: -18px;
	width: auto;
}
#navbar_text{
	color: rgb(50,50,50);
	font-family: 'Raleway', sans-serif;
	font-size: 22px;
}
#navbar_text:hover{
	color: rgb(247, 147, 42);
}
.navbar{
	background-color: rgba(50,50,50,.3);
}
/*headers
*/
h1{
	font-family: 'Poiret One', cursive;
	font-size: 120px;
	font-weight: 800;
	text-transform: capitalize;
	text-align: center;
}

@media (max-width: 600px) {
 h1{
  font-size: 84px;
  }
}
h2{
	font-family: 'Poiret One', cursive;
	font-size: 54px;
	font-weight: 800;
	margin-bottom: 30px;
	text-transform: capitalize;
	text-align: center;
}
h2.orange_text{
	font-family: 'Poiret One', cursive;
	font-size: 54px;
	font-weight: 800;
	text-transform: capitalize;
	text-align: center;
	color:rgb(247, 147, 42);
}
h3{
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
	font-weight: 800;
	color: rgb(50,50,50);
	text-transform: capitalize;
	text-align: center;
}
h3.orange_text{
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
	font-weight: 800;
	color:rgb(247, 147, 42);
	text-transform: capitalize;
	text-align: center;
}
h3.white_text{
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
	font-weight: 800;
	color:rgb(190,190,190);
	text-transform: capitalize;
	text-align: center;
}
h4{
	font-family: 'Raleway', sans-serif;
	font-size: 24px;
	font-weight: 800;
	color: rgb(200,200,200);
	text-align: center;
}

@media (max-width: 600px) {
 h4{
  font-size: 28px;
  }
}

h4.black_text {
	font-family: 'Raleway', sans-serif;
	font-size: 22px;
	font-weight: 800;
	color: rgb(30,30,30);	
	text-align: center;
}
h5{
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 800;
	color: rgb(200,200,200);
	text-align: center;
	margin-top: -8px;
}
p{
	color:black;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
}

/*homepage
*/
#search_button{
    background-color: transparent;
    border: none;
    font-size: 18px;
    margin-top: -10px;
    font-family: 'Poiret One', cursive;
}
#state_search{
    width: 220px;
    height: 35px;
    font-family: 'Poiret One', cursive;
    color: black;
    border: none;
    border-bottom: solid black 2px;
    font-size: 18px;
    background-color: transparent;
}
.form-control{
	background-color: transparent;
}
.park_each{
	background-color: rgba(50,50,50,.4);
	padding: 30px 18px;
	margin-bottom: 10px;
 }
.park_each:hover{
	background-color: rgba(50,50,50,.7);
 }
/*parksAllpage
*/
.park_display{
	height: 600px;
	overflow: scroll;
}
.favs_link:hover{
	text-decoration: underline;
}
#park_text{
	font-family: 'Raleway', sans-serif;
	color: rgb(10,10,10);
	font-size: 17px;
}
.park_url{
	font-family: 'Raleway', sans-serif;
	color: rgb(247, 147, 42);
	font-size: 14px;
}
.top{
	font-family: 'Raleway', sans-serif;
	color: rgb(247, 147, 42);
	font-size: 18px;
	margin-top: 16px;
	text-align: center;

}
#save_button:hover{
	font-family: 'Raleway', sans-serif;
	color: rgb(247, 147, 42);
	margin-bottom: 15px;
	font-size: 22px;
	background-color: inherit;
	border: none;
	margin: auto;
	display: block;
	text-decoration: underline;
}
#save_button{
	font-family: 'Raleway', sans-serif;
	color: rgb(247, 147, 42);
	margin-bottom: 15px;
	font-size: 22px;
	background-color: inherit;
	border: none;
	margin: auto;
	display: block;
}
.auth_submit{
	font-family: 'Raleway', sans-serif;
	color: rgb(247, 147, 42);
	margin-bottom: 15px;
	font-size: 18px;
	background-color: inherit;
	border: none;
	margin: auto;
	display: block;
}
.auth_submit:hover{
	color: rgb(70,70,70);
}
.auth_format{
	font-family: 'Raleway', sans-serif;
	background-color: transparent;
	padding: 15px 15px;
	color: rgb(195,195,195);	
}

.signup-link{
	font-family: 'Raleway', sans-serif;
	color: rgb(247, 147, 42);
	font-size: 24px;
	font-weight: 800;
}
.signup-link:hover{
	color: white;
	text-decoration: none;
}

.signin-form{
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	font-weight: 800;
	color: rgb(30,30,30);	
}
/*favorites
*/
#weather_button{
	font-family: 'Raleway', sans-serif;
	color: rgb(195,195,195);	
	margin-bottom: 15px;
	font-size: 26px;
	background-color: inherit;
	border: none;
}
#delete_button{
	color: rgb(247, 147, 42);
	margin-bottom: 15px;
	font-size: 18px;
	background-color: transparent;
	border: none;
}
/*weather
*/
.moreinfo:hover{
	background-color: rgba(150,150,150,.45);

}
.weather_data{
	height: 280px;
	overflow:scroll;
}
.weather_row{
	background-color: rgba(150,150,150,.15);
}
.weather_row:hover{
	background-color: rgba(150,150,150,.45);
}
.weather_cell{
	text-align: center;
}
.weather_image{
	height: 45px;
	margin: auto;
	display: block;
}
#state-map{
	height: 300px;
}
/*layout
*/
.background{
	background-image: url("/images/background4.jpg");
	background-size: cover;
}
.body_container{
	height: 1000px;
}


@media (max-width: 999px) {
  .body_container {
    height: 1300px;
  }
}
.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}
footer {
	text-transform: uppercase;
	padding: 5px 20px;
	background-color: rgba(30,30,30,.4);
	font-size: 14px;
	letter-spacing: .09em;
	font-weight: 900;
}
.copyright {
	font-family: 'Poiret One', cursive;
	float: left;
}
.message {
	font-family: 'Poiret One', cursive;
	float: right;
}
.name {
	color: #F15B31;
	font-weight: 1000;
}