</h2> each park shows here</h2>

<div>
<h2>Weather for: <%=weatherData.txt_forecast.forecastday[0].title%></h2>
<h3>Forecast: <%=weatherData.txt_forecast.forecastday[0].fcttext%></h3><span><img src="<%= weatherData.txt_forecast.forecastday[0].icon_url %>">

</div>


