<h2>Your Favorite Parks</h2>

<div>
	<% if(park.length <=0){ %>
		<p>no parks yet</p>
	<%} else {%>
		<% park.forEach(function(item) { %>
		
			<div class="favoritepark">
				
				<form method="POST" action="/weather">
					<input type="hidden" type="text" name="name" value="<%=item.name%>">
					<label><%= item.name %>: for more info and weather forcast click</label>
					<input type="submit" value="Here" class= "btn btn-success">
				</form>
		<% });%>

	<% } %>
</div>

