
<h1><%= currentUser.firstname %>'s Favorite Parks</h1>

<div>
		<% user.nationalparks.forEach(function(item) { %>
		
			<div class="favoritepark">
				
				<form method="POST" action="/weather">
					<input type="hidden" type="text" name="name" value="<%=item.name%>">
					<label><%= item.name %>: for more info and weather forcast click</label>
					<input type="submit" value="Here" class= "btn btn-success">
				</form>
		<% });%>
</div>
