<div class="text-center row form-group">
	<div class="col-md-12"><h1><%= currentUser.firstname %>'s saved parks</h1></div>
<div class="text-center row form-group">
	<div class="col-md-12">
		<% user.nationalparks.forEach(function(item) { %>
		
			<div class="favoritepark">
				
				<form method="POST" action="/weather">
					<input type="hidden" type="text" name="name" value="<%=item.name%>">
					<label><%= item.name %>: for more info and weather forcast click</label>
					<input type="submit" value="Here" class= "btn btn-success">
				</form>
		<% });%>
	</div>
</div>
